* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background: linear-gradient(to bottom, rgba(15, 35, 65, 0), rgb(8, 77, 167, 1)), url('/assets/images/sdg-login-bg-banner.jpg');
    background-position: center;
    background-size: cover;
}

.text-first {
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.text-second {
    color: gold;
    font-weight: 500;
    font-size: 21px;
}

.text-third {
    color: white;
    font-size: 13px;
}

.text-four {
    color: #1C4D8D;
    font-size: 14px;
    font-weight: 500;
}

.logo-box {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    max-width: 100%;
    object-fit: contain;
}

.wheel-box {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.wheel-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 999;
    position: relative;
}

.width-40 {
    width: 40%;
}

.h-60 {
    height: 30px;
}

.border-rad-cir {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-navy {
    background-color: #001a29;
}

.trans-1 {
    height: 40%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.trans-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .5;
    animation-name: rotate-clockwise;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.trans-2 {
    height: 40%;
    width: 40%;
    transform: translate(50%, 50%);
}

.trans-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .5;
    animation-name: rotate-clockwise;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-1 {
    height: 85%;
    width: 85%;
}

.spinner-1 img {
    animation-name: rotate-clockwise;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spinner-2 {
    height: 55%;
    width: 55%;
}

.spinner-2 img {
    animation-name: rotate-anticlockwise;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.min-h-50 {
    min-height: 35vh;
}

.spinner-3 {
    height: 35%;
    width: 35%;
}

.spinner-3 img {
    animation-name: rotate-clockwise;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner-4 {
    height: 21%;
    width: 21%;
}

.spinner-4 img {
    animation-name: rotate-anticlockwise;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: 9%;
}

.spnner-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.margin-left {
    margin-left: -10px;
}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-anticlockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-height: 1000px) and (max-width:780px) {
    .spinner-logo {
        height: 6%;
        width: 6%;
    }
}

@media (min-height: 600px) and (min-width:1800px) {
    .spinner-logo {
        height: 6%;
        width: 6%;
    }
}