* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background: linear-gradient(to bottom, rgba(15, 35, 65, 0), rgba(25, 55, 95, 1)), url('/assets/images/sdg-login-bg-banner.jpg');
    background-position: center;
    background-size: cover;
}

.text-first {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.text-second {
    color: gold;
    font-weight: 500;
    font-size: 24px;
}

.text-third {
    color: white;
    font-size: 16px;
}

.text-four {
    color: #1C4D8D;
    font-size: 14px;
    font-weight: 500;
}

.logo-box {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img-box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    max-width: 100%;
    object-fit: contain;
}

.wheel-box {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.wheel-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 999;
    position: relative;
}

.width-40 {
    width: 40%;
}

.h-60 {
    height: 30px;
}

.border-rad-cir {
    border-top-left-radius: -20px;
    border-bottom-left-radius: -20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-navy {
    background-color: #001a29;
}

.trans-1 {
    height: 40%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.trans-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .5;
}

.trans-2 {
    height: 40%;
    width: 40%;
    transform: translate(50%, 50%);
}

.trans-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .5;
}

.spinner-1 {
    height: 85%;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.spinner-2 {
    height: 55%;
    width: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.min-h-50 {
    min-height: 35vh;
}

.spinner-3 {
    height: 35%;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-4 {
    height: 21%;
    width: 21%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-logo {
    height: 9%;
    width: 9%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spnner-logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.margin-left {
    margin-left: -10px;
}